# Build output
dist/
.output/

# Dependências
node_modules/

# Cache Astro
.astro/

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Cloudflare
.wrangler/
